<!DOCTYPE html>
<html lang="es">
  <link rel="stylesheet" href="/css/páginas/styles_create.css">
  <%- include('../partials/head.ejs')%>
  <title>Login</title>
<body>
  <%- include('../partials/header.ejs')%>
<div class="completo">
  <div class="registro">

    <div class="cabecera">
      <img class="logo" src="/img/JPEG/auto.jpeg" >
    </div>
    <section class="form-register">
        <div class="datos">
          <h4>Datos del vehículo</h4>
    <form action="/productos/<%= miAuto.id %>/destruir?_method=DELETE" method="POST">
            <input class="controls" type="text"  name="id" id="id" placeholder="ID" value="<%= miAuto.id %>">
            <input class="controls" type="text"  name="marca" id="marca" placeholder="Marca" value="<%= miAuto.marca %>">
            <input class="controls" type="text"  name="modelo" id="modelo" placeholder="Modelo" value="<%= miAuto.modelo %>">
            <input class="controls" type="number"  name="kilometros" id="km" placeholder="Kilometros" value="<%= miAuto.kilometros %>">
            <input class="controls" type="text" name="anio" id="anio" placeholder="Año" value="<%= miAuto.anio %>">
            <input class="controls" type="text"  name="color" id="color" placeholder="Color" value="<%= miAuto.color %>">
            <label>Combustible</label>
            <select name="combustible" id="comb">


              <!--Acá necesitamos que pre cargue el combustible--> 

              
              <option value="<%= miAuto.combustible %>"></option>
              <option value="Nafta">Nafta</option>
              <option value="Gas-Oil">Gas-Oil</option>
              <option value="Electrico">Electrico</option>
              <option value="Hibrído">Hibrído</option>
            </select>
            <input class="controls" type="text"  name="Motor" id="motor" placeholder="Motor" value="<%= miAuto.motor %>">
            <input class="controls" type="text"  name="precio" id="precio" placeholder="Precio" value="<%= miAuto.precio %>">
            <label>Imagénes</label>
            <input type="file" name="imagen" id="imagen" placeholder="Imagén">
            <input class="botons-registro" type="submit" value="Eliminar" name="guardar">
            <input class="botons-registro" type="reset" value="Borrar" name="borrar">
        </div>
        </div>
        </div>
    </form>
</body>
</html>