<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs')%>
<body>
<%- include('../partials/header.ejs')%>
   <div class="portada">
    <div class="portada_1"></div>
    <div class="banner-shep"></div>
    <div class="titulos-portada">
      <div class="subtitulo">
        <h5>Automotrice</h5>
      </div>
      <hr>
      <div class="titulo">
        <h1>Encontrá <br> el auto que mereces, <br> al mejor <br> precio</h1>
      </div>
      <div class="botones-portada">
        <a href="/productos">
          <div class="boton-naranja">
            <div class="boton-texto">Catálogo</div>
        </a>
      </div>
      <a href="#footer">
        <div class="boton-blanco">
          <div class="boton-texto">Contacto</div>
      </a>
    </div>
  </div>
  </div>
  </div>

  <div class="contenedor-tipos">
    
    <h2>Más vendidos</h2>
    <div class="lista">
      <div class="t1" onclick="window.open('/productos/<%=autos.id%>','mywindow');" style="cursor: pointer;">
        <p class="nombre-tipo">T-cross</p>
        <div class="color-blanco"></div>
        <img class="imagen" src="/img/PNG/Marcas/Volkswagen/Gol/t-cross_B-min.png" alt="">
      </div>
      <div class="t2" onclick="window.open('/productos/<%=autos.id%>','mywindow');" style="cursor: pointer;">
        <p class="nombre-tipo">Tiguan</p>
        <div class="color-blanco"></div>
        <img class="imagen" src="/img/PNG/Marcas/Volkswagen/Tiguan/tiguan_B-min.png" alt="">
      </div>
      <div class="t3" onclick="window.open('/productos/<%=autos.id%>','mywindow');" style="cursor: pointer;">
        <p class="nombre-tipo">Nivus</p>
        <div class="color-blanco"></div>
        <img class="imagen" src="/img/PNG/Marcas/Volkswagen/Nivus/nivus_B-min.png" alt="">
      </div>
      <div class="t4" onclick="window.open('/productos/<%=autos.id%>','mywindow');" style="cursor: pointer;">
        <p class="nombre-tipo">Taos</p>
        <div class="color-blanco"></div>
        <img class="imagen" src="/img/PNG/Marcas/Volkswagen/Taos/taos_B-min.png" alt="">
      </div>
    </div>
    
  </div>

  <div class="auto-semana">
    <h2>El auto de la semana</h2> 
    <div class="auto-semana_columna">
      <div class="imagenSE">
        <img class="imagen-semana" src="/img/JPEG/Marcas/Ferrari/LaFerrari/ferrari-laferrari-2013-wallpaper-min.jpg" alt="">
      </div>
      <div class="descripcion-semana">
        <p>El Ferrari LaFerrari es un superdeportivo de muy altas prestaciones,
          está situado en lo más alto de la gama de Ferrari, por encima de modelos
          como el Ferrari 488 GTB o el Ferrari 812 Superfast. Es el Ferrari más
          prestacional de cuantos se pueden matricular, cuenta con una mecánica híbrida
          y rivaliza con modelos como el McLaren P1 y el Porsche 918 Spyder.
        </p>
      </div>
    </div>

    <div class="auto-semana_columna">
    <!-- <div class="descripcion-semana">
      <p>El Ferrari LaFerrari es un superdeportivo de muy altas prestaciones,
        está situado en lo más alto de la gama de Ferrari, por encima de modelos
        como el Ferrari 488 GTB o el Ferrari 812 Superfast. Es el Ferrari más
        prestacional de cuantos se pueden matricular, cuenta con una mecánica híbrida
        y rivaliza con modelos como el McLaren P1 y el Porsche 918 Spyder.
      </p>
    </div> -->

    <div class="video">
      <iframe src="https://www.youtube.com/embed/iRsV6YpLsKA" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>

  </div>

</body>
  <%- include('../partials/footer.ejs')%>

<div class="derechos-footer"> 365 Wheels © </div>

</html>
