<!DOCTYPE html>
<html lang="es">
  <link rel="stylesheet" href="/css/páginas/styles_register.css" />
  <title>Registro de usuario</title>
  <%- include('../partials/head');%>

  
  <body>
    <%- include('../partials/header.ejs')%>
    <div class="completo">
      <div class="registro">
        <div class="cabecera">
          <img class="logo" src="/img/SVG/365Wheels.svg" />
        </div>
        <section class="form-register">
          <form
            class="datos"
            action="/usuarios/registrar"
            method="POST"
            enctype="multipart/form-data"
          >
            <h4>Ingresar datos</h4>
            <input
              class="controls"
              type="text"
              name="nombre"
              placeholder="Nombre"
              value="<%= locals.oldData ? oldData.nombre : null %>"
            />
            <% if (locals.errors && errors.nombre) { %>
            <div class="text-danger"><%= errors.nombre.msg %></div>
            <% } %>
            <input
              class="controls"
              type="text"
              name="apellido"
              placeholder="Apellido"
              value="<%= locals.oldData ? oldData.apellido : null %>"
            />
            <% if (locals.errors && errors.apellido) { %>
            <div class="text-danger"><%= errors.apellido.msg %></div>
            <% } %>
            <input
              class="controls"
              type="email"
              name="email"
              placeholder="Email"
              value="<%= locals.oldData ? oldData.email : null %>"
            />
            <% if (locals.errors && errors.email) { %>
            <div class="text-danger"><%= errors.email.msg %></div>
            <% } %>
            <input
              class="controls"
              type="password"
              name="password"
              placeholder="Contraseña"
            />
            <% if (locals.errors && errors.password) { %>
            <div class="text-danger"><%= errors.password.msg %></div>
            <% } %>
            <input type="file" name="avatar" id="avatar" placeholder="Imagén" />
            <% if (locals.errors && errors.avatar) { %>
            <div class="text-danger"><%= errors.avatar.msg %></div>
            <% } %>
            <br>

            <div class="terminoCondiciones">
            <label class="termino"
              ><input
                class="termino"
                type="checkbox"
                name="chbx"
                id="cbox1"
                value="first_checkbox"
              />
              Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></label
            >
          </div>
            <% if (locals.errors && errors.chbx) { %>
            <div class="text-danger"><%= errors.chbx.msg %></div>
            <% } %>
            
            <input class="botons-registro" type="submit" value="Registrarse" />
            <!-- <div class="botonesRS">
              <div class="botRegistro-Facebook">
                <img
                  class="logoRS"
                  src="/img/PNG/Iconos/facebook_letraBlanca.png"
                  alt="logo de facebook"
                />
                <p>Facebook</p>
              </div>
              <div class="botRegistro-Google">
                <img
                  class="logoRS"
                  src="/img/PNG/Iconos/google_colores.png"
                  alt="logo de google"
                />
                <p class="fuente-google">Google</p>
              </div>
            </div> -->
          </form>
        </section>
      </div>
    </div>
  </body>
</html>
